<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
            <div class="ads">
                <ads></ads>
            </div>
            <div class="ads">
                <ads></ads>
            </div>
        </div>

        <div class="col-lg-9 text-justify">
            <div class="saloes row" id="saloes">
                {{#each saloes}}
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2 border border-dark">
                    <div class="row">
                        <div class="col"><img src="./img/{{nome}}.jpg">
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">{{nome}}
                        </div>
                        <br>
                        <div class="col">{{cidade}}
                        </div>
                        <br>

                    </div>
                    <div class="row">
                        <div class="col"> cnpj: {{cnpj}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col"> <a class="btn btn-dark" href="/saloes/{{id}}" id="{{id}}">{{nome}}</a>
                        </div>
                        <div class="col"></div>
                    </div>
                    <br>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-1 sidenav">
            <div class="ads">
                <ads></ads>
            </div>
            <div class="ads">
                <ads></ads>
            </div>
        </div>
    </div>
</div>